---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Title'
    value: page.title
  - label: 'Date'
    value: page.date_unvalidated
  - label: 'Description'
    value: page.description
  - label: 'Creator'
    value: page.creator
  - label: 'Extent'
    value: page.extent
  - label: 'Materials'
    value: page.materials
  - label: 'Notes'
    value: page.notes
  - label: 'Collector'
    value: page.collector
  - label: 'Date Ingested'
    value: page.date
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---